/*------------------ 
    used fonts 
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* ------------------
    common styles 
---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

/* ---------------
  animation 1 
------------------*/
@keyframes changing-color {
  50% {
    background-color: rgb(189, 83, 189);
  }
  100% {
    background-color: indianred;
  }
}
/* ---------------
  animation 2 
------------------*/
@keyframes shoot {
  50% {
    width: 610px;
    height: 480px;
  }
  100% {
    width: 556px;
    height: 438px;
  }
}

header:hover {
  animation: changing-color 4s linear 1s infinite alternate forwards;
}

header:hover .shoot-football {
  animation: shoot 4s linear infinite alternate forwards;
}

/* ---------------------
    header styles
--------------------- */
header {
  height: 600px;
  margin-bottom: 70px;
  background-color: #2d25a0;
}
.header-part {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 100px 110px 50px 100px;
}
.header-info {
  margin: 35px 0 0 40px;
  line-height: 85px;
}
.watch-button {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fa-arrow-right {
  color: #ffffff;
}
.header-image {
  margin-left: 60px;
}
.shoot-football {
  width: 556px;
  height: 438px;
}
.header-info h1 {
  font-size: 50px;
  color: #ffffff;
}
.watch-text {
  color: #ffffff;
  font-size: 16px;
}

/*-------------------
    Players 
 ---------------------*/
.players {
  display: flex;
  justify-content: center;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-column-gap: 35px;
  grid-row-gap: 28px;
}
.player {
  width: 320px;
  height: 470px;
  padding: 15px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player p {
  font-size: 16px;
  color: #6c6c6c;
}
.player img {
  width: 100%;
}
.paragraph-color {
  color: aquamarine;
}

/* ----------------
  all-highlights
---------------------- */
.all-highlights {
  padding: 80px 120px 80px 120px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.highlights-info {
  padding: 20px;
}
.highlights-info h1 {
  font-size: 48px;
}
.highlights-info > p {
  color: #6c6c6c;
}
.highlights-image img {
  width: 450px;
  height: 350px;
}

/* ----------------
  footer
---------------------- */
.football-footer {
  width: 483.87px;
  height: 213px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
footer img {
  width: 483.87px;
  height: 110px;
}
.footer-info {
  margin-left: 200px;
}
.icons {
  width: 140px;
  margin-bottom: 20px;
}
.icons img {
  width: 32px;
  height: 32px;
}
.text {
  margin-left: -30px;
}

/* ----------------------
  Responsiveness by media query 
----------------------------*/
@media only screen and (max-width: 688px) {
  /* header part */
  header:hover .shoot-football {
    animation: none;
  }
  header {
    width: 320px;
    height: 695px;
  }
  .header-part {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .header-info {
    width: 158px;
    height: 50px;
  }
  .header-image {
    margin-top: 300px;
    margin-left: 10px;
  }
  .shoot-football {
    width: 280px;
    height: 259.17px;
  }
  .header-info h1 {
    font-size: 20px;
    color: #ffffff;
  }

  /* top players */
  .top-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    width: 230px;
    height: 450px;
    padding: 15px;
    padding-bottom: 20px;
  }

  /* all highlights */
  .all-highlights {
    flex-direction: column;
    margin-top: -40px;
  }
  .highlights-image img {
    width: 250px;
    height: 230px;
  }

  /* footer part */
  .footer-image img {
    width: 240px;
    height: 70px;
  }
  .football-footer {
    margin-left: 0;
    justify-content: flex-start;
  }
  .footer-info {
    margin-left: 60px;
  }
  .text {
    margin-left: -30px;
  }
}
